In [1]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense
import matplotlib.pyplot as plt

In [3]:
#dataframe = pd.read_csv('DataSet\GlobalLandTemperaturesByCity.csv',index_col=False)

In [4]:
#Encontra todas as linhas que possuem qualquer valor nulo e as exclue, essa ação foi tomada pois temos uma grande massa de dados#
linhas_nulas = dataframe.isnull().any(axis=1)
#Esta é a indexação condicional.
#Estamos usando a série booleana ~linhas_nulas como máscara booleana para indexar o DataFrame.
#Isso significa que apenas as linhas em que ~linhas_nulas é True (ou seja, as linhas que não contêm valores nulos)
dataframe = dataframe[~linhas_nulas]

In [5]:
city = dataframe['City'].values
country = dataframe['Country'].values
dt = dataframe['dt'].values

In [6]:
encoder = preprocessing.OrdinalEncoder()
country_encoder = encoder.fit_transform(country.reshape(-1,1))
dataframe['Country_OrdinalEncoder'] = country_encoder

In [7]:
encoder = preprocessing.OrdinalEncoder()
city_encoder = encoder.fit_transform(city.reshape(-1,1))
dataframe['City_OrdinalEncoder'] = city_encoder

In [8]:
encoder = preprocessing.OrdinalEncoder()
dt_encoder = encoder.fit_transform(dt.reshape(-1,1))
dataframe['dt_OrdinalEncoder'] = dt_encoder

In [9]:
dataframe.drop(['dt','City','Country','AverageTemperatureUncertainty','Latitude','Longitude'], axis=1, inplace=True)

In [10]:
dataframe

,AverageTemperature,Country_OrdinalEncoder,City_OrdinalEncoder,dt_OrdinalEncoder
0,6.068,39.0,3443.0,0.0
5,5.788,39.0,3443.0,1.0
6,10.644,39.0,3443.0,2.0
7,14.051,39.0,3443.0,3.0
8,16.082,39.0,3443.0,4.0
...,...,...,...,...
8599206,7.710,100.0,3442.0,3161.0
8599207,11.464,100.0,3442.0,3162.0
8599208,15.043,100.0,3442.0,3163.0
8599209,18.775,100.0,3442.0,3164.0
8599210,18.025,100.0,3442.0,3165.0